body {
  font-family: 'open sans';
  font-size: 1.2em;
  line-height: 1.38;
  color: #2f1e0f;
	text-align: center;
}

nav {
	display: none;
}

.email {
	display: inline;
  position: relative;
	bottom: 74px;
  clear: both;
  z-index: 8;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.38;
  color: #2f1e0f;
}

.email a {
	color: #2f1e0f;
	text-decoration: underline;
}

.growing {
	position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 360px;
	background-image: url('../images/GrowingButtonBW.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
	margin-bottom: 150px;
}

.growing:before {
  content: url('../images/GrowingButton(2).png');
  width:0;
  height:0;
  visibility:hidden;
}

.growing span {
  position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 360px;
  background-image: url('../images/GrowingButton(2).png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
	opacity: 0;
	transition: opacity 3s ease-out;
}

.growing span:hover {
	opacity: 1;
	transition: opacity 300ms ease-in;
}

.journey {
	position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 360px;
  background-image: url('../images/JourneyButtonBW.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.journey:before {
  content: url('../images/JourneyButton.png');
  width:0;
  height:0;
  visibility:hidden;
}

.journey span {
  position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 360px;
  background-image: url('../images/JourneyButton.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
	opacity: 0;
	transition: opacity 3s ease-out;
}

.journey span:hover {
	opacity: 1;
	transition: opacity 300ms ease-in;
}

.logo {
  display: inline;
  float: left;
  width: 42px;
  height: 42px;
  margin-left: 40px;
  margin-top: -6px;
  background-image: url('../images/DrewLogo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
	transition: margin-top 400ms ease;
}

.logo.tiny {
	margin-top: 5px;
}

.nav {
  float: left;
  width: 100%;
  height: 60px;
	padding-top: 15px;
  background-color: #ffffff;
  text-align: center;	
	position:fixed;
  top:0;
	opacity: 1;
	transition: height 300ms ease-in, opacity 1s;
	z-index: 1000;
	-webkit-transform: translateZ(0);
}

.nav.tiny {
	opacity: .8; 
	-webkit-transform: translateZ(0);
}

.navbuttons {
  float: right;
	display: inline-block;	
  height: 100%;
  margin-top: -57px;
	font-family: 'open sans';
	transition: margin-top 500ms ease-in-out;
}

.navbuttons.tiny {
	margin-top: -55px;
}

.navbuttons a {
  display: inline-block;
  position: relative;
  padding-bottom: 6px;	
  float: right;	
  color: #2f1e0f;
  padding-right: 40px;
  padding-top: 30px;	
  font-size: 18px;		
}

@media (max-width: 1222px) {
	.navbuttons a {
		display: none;
	}
}

@media (min-width: 1222px) {
	.cd-btn {
		display: none;
	}
}

.navbuttons a:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
	margin-top: 6px;
}

.navbuttons a:hover:after{
	width: 60%;
	background: #88BCCD;
}

.current:before {
	content: '';
	position: absolute;
	display: block;
	margin-left: 10%;
	height: 3px;
	width: 40%;
	background: #88BCCD;
	margin-top: 30px;
}

.page-title {
  height: 30px;
  width: auto;
  margin: 0 auto;
  text-align: center;	
	background-image: url('../images/DrewLittrell.svg');
	background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;	
	transition: height 300ms ease-in-out;
	-webkit-transform: translateZ(0);
}

.page-title.tiny {
	height: 28px;
	-webkit-transform: translateZ(0);
}

@media (max-width: 500px) {
	.logo {
		display: none;
	}
	
	.page-title {
		margin-left: 20px !important; 
		height: 25px;
		width: 238px;
		margin-top: 3px;
	}
	
	.cd-btn {
		top: 3px;
		margin-right: 20px !important;
	}
}

.promo {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 360px;
	margin-top: 60px;
  background-image: url('../images/PromoButtonBW.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.promo:before {
  content: url('../images/PromoButton.png');
  width:0;
  height:0;
  visibility:hidden;
}

.promo span {
  position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 360px;
  background-image: url('../images/PromoButton.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
	opacity: 0;
	transition: opacity 3s ease-out;
}

.promo span:hover {
	opacity: 1;
	transition: opacity 300ms ease-in;
}

.section-padding {
	margin-bottom: 2px;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 0px rgba(0, 0, 0, 0.2);  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 0px rgba(0, 0, 0, 0.2);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.wrapper {
  position: relative;
  float: left;
  z-index: 7;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

._2020vision {
	position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 360px;
  background-image: url('../images/VisionButtonBW.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

._2020vision:before {
  content: url('../images/VisionButton.png');
  width:0;
  height:0;
  visibility:hidden;
}

._2020vision span {
  position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 360px;
  background-image: url('../images/VisionButton.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
	opacity: 0;
	transition: opacity 3s ease-out;
}

._2020vision span:hover {
	opacity: 1;
	transition: opacity 300ms ease-in;
}

.cd-btn {
	position: relative;
	float: right;
	height: 28px;
	width: 80px;
	margin-right: 40px;
	margin-top: -29px;
	background-image: url(../images/Hamburgler.svg);
	background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;	
}